[Options]
volume_from=
volume_to=
move_older_days=30
start_time=00:00
log_level=info
owner_name=makstor
group_name=makhaon
dir_not_found=
is_dir_not_found_network=False
is_volume_to_network=False

[Database]
name=
user=
password=
host=
port=